@model IEnumerable<Jitter.Models.Jot>
@{
    Layout = "~/Views/Shared/_JitterLayout.cshtml";
}

    <div ng-controller="TestController">
        <p>{{test}}</p>
        <button ng-click="hello()">Click me!</button>
    </div>

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="jot">
                    @item.Content
                </div>
            </div>
        </div>
    }
